body {
  background: url(img/background_for_cv.png) no-repeat 30px 20px;
}
body {
  font-family: 'Roboto', sans-serif;
}
* {
  box-sizing: bourder-box;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.nav-list {
  font-size: 150%;
  text-align: justify;
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0 20px;
  line-height: 50px;
}
.nav-list li a {
  text-decoration: none;
}