* {
  box-sizing: bourder-box;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(82, 184, 78);
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
html {
  scroll-behavior: smooth; 
}
.header {
  background-color: rgb(43, 1, 1);
  color: azure;
}
.nav-list {
  font-size: 18px;
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0 20px;
  line-height: 50px;
}
.nav-list li a {
  text-decoration: none;
}
.nav-link{
  margin-left: 15px;
  font-weight: bold;
  color:azure;

}